// COLORS
$color-primary: #845ef7;
$color-primary-light: #9775fa;
$color-primary-dark: #7950f2;

$color-grey-light-1: #efefef;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.8rem;

// GRID
$grid-width: 128rem;
$gutter-vertical: 9rem;
$gutter-horizontal: 6rem;
